.page {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.page h1 {
  margin-bottom: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;

  padding: 20px;

  border: 1px solid #444;
  border-radius: 8px;
}

input,
button {
  padding: 10px;
  font-size: 15px;
}

progress {
  width: 100%;
}

#uploadProgress {
  display: none;
}

.history-table {
  width: 100%;
  border-collapse: collapse;
}

.history-table th,
.history-table td {
  padding: 10px;
  border-bottom: 1px solid #444;
  text-align: left;
}
